<p>Restaurantes</p>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>produtos</th>
    </tr>
  </thead>
  <tbody>
    <% Restaurant.all.each do |r|%>
      <tr>
        <td><%= r.nome%></td>
        <td>
          <table>
            <% r.products.each do |p| %>
              <tr>
                <td><%= p.name%></td>
                <td><%= p.value%></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
